/* The styles for the website are placed under here (where the background image effect is placed) */
body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}
.pimg1, .pimg2, .pimg3{
  position:relative;
  opacity:0.70;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}
.pimg1{
  background-image:url('../img/image1.jpg');
  min-height:100%;
}
.pimg2{
  background-image:url('../img/image2.jpg');
  min-height:400px;
}
.pimg3{
  background-image:url('../img/image3.jpg');
  min-height:400px;
}
.section{
  text-align:center;
  padding:50px 80px;
}
.section-light{
  background-color:#f4f4f4;
  color:#666;
}
.section-dark{
  background-color:#282e34;
  color:#ddd;
}
.ptext{
  position:absolute;
  top:50%;
  width:100%;
  text-align:center;
  color:#000;
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}
.ptext .border{
  background-color:#111;
  color:#fff;
  padding:20px;
}
.ptext .border.trans{
  background-color:transparent;
}
@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}

/* The styles for the navigation bar are placed under here */
header {
      width: 100%;
}
.logo {
      line-height: 60px;
      position: fixed;
      float: left;
      margin: 16px 46px;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}
nav {
      position: fixed;
      width: 100%;
      line-height: 60px;
      z-index: 2;
      opacity: 0.70;
}
nav ul {
      line-height: 60px;
      list-style: none;
      background: rgba(0, 0, 0, 0);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: right;
      margin: 0;
      padding-right: 40px;
      transition: 1s;
}
nav.black ul {
      background: #000;
}
nav ul li {
      display: inline-block;
      padding: 16px 40px;;
}
nav ul li a {
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}
.menu-icon {
      line-height: 60px;
      width: 100%;
      background: #000;
      text-align: right;
      box-sizing: border-box;
      padding: 15px 24px;
      cursor: pointer;
      color: #fff;
      display: none;
}
@media(max-width: 786px) {
      .logo {
            position: fixed;
            top: 0;
            margin-top: 16px;
      }
      nav ul {
            max-height: 0px;
            background: #000;
      }
      nav.black ul {
            background: #000;
      }
      .showing {
            max-height: 34em;
      }
      nav ul li {
            box-sizing: border-box;
            width: 100%;
            padding: 24px;
            text-align: center;
      }
      .menu-icon {
            display: block;
      }
}

/* The styles for the map are placed under here */
#map {
        height: 400px;
        width: 100%;
       }

/* The styles for the pinteret like layout are placed under here */
.container {
  position: relative;
  width: 100%; }
.container #wrapper {
  width: 95%;
  margin: auto; 
}
.pin {
  display: inline-block;
  padding: 5px;
  margin: 0;
  transition: initial .2s ease;
  border-radius: 10px;
  border: 2px solid #666;
  margin-bottom: 17px;
}
.pin img {
  width: 100%; 
  border-radius: 10px;
}
.pin h3 {
  font-size: 12px;
  font-weight: bold; 
  color: #666;
}
.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #666; 
}
#columns {
  -webkit-column-count: 1;
  -webkit-column-fill: auto;
  -moz-column-count: 1;
  -moz-column-fill: auto;
  column-count: 1;
  column-fill: auto; 
  border-radius: 10px;
}
@media (min-width: 490px) {
  #columns {
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2; } }
@media (min-width: 970px) {
  #columns {
    -webkit-column-count: 3;
    -moz-column-count: 3;
    column-count: 3; } }